.snackbar {
    width: 200px;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 0;
    margin-left: -120px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .2);
    background: #ff6565;
    text-align: center;
    color: white;
    margin-top: -100%;
    transition: all .2s;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.snackbar.active {
    margin-top: 0;
}