.tabs>ul {
    padding: 0;
}

.tabs .trigger {
    list-style-type: none;
    padding: 10px;
    background: #f2f2f2;
    margin: 4px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.tabs .trigger.active {
    background: #ff6565;
    color: white;
}

.tabs .content {
    background: #fbfbfb;
    padding: 10px 20px;
    display: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.tabs .content.active {
    display: block;
}